<?xml version="1.0" encoding="UTF-8"?>
<beans projectname="testu" depends="finder">
	<bean id="TestUUserModule" class="tech.genailabs.tutor.TestUUserModule" scope="prototype">
		<property name="moduleManager">
			<ref bean="moduleManager" />
		</property>
	</bean>
	<bean id="TestUTeamModule" class="tech.genailabs.tutor.TestUTeamModule" scope="prototype">
		<property name="moduleManager">
			<ref bean="moduleManager" />
		</property>
	</bean>
	<bean id="TestUSocialModule" class="tech.genailabs.tutor.TestUSocialModule" scope="prototype">
		<property name="moduleManager">
			<ref bean="moduleManager" />
		</property>
	</bean>
	<bean id="TestUUsageModule" class="tech.genailabs.tutor.TestUUsageModule" scope="prototype">
		<property name="moduleManager">
			<ref bean="moduleManager" />
		</property>
	</bean>
	<bean id="TestUAnalyticsModule" class="tech.genailabs.tutor.TestUAnalyticsModule" scope="prototype">
		<property name="moduleManager">
			<ref bean="moduleManager" />
		</property>
	</bean>
</beans>
